# Ignorar a pasta `node_modules`
node_modules/

# Ignorar arquivos de build do Vercel
.vercel/
.next/
dist/

# Ignorar configurações locais do VS Code
.vscode/
*.code-workspace

# Ignorar arquivos temporários do sistema
.DS_Store
Thumbs.db
